Repository zenangst/Family: changes, and which Codecov flags are due for each by the changed paths.
All: macOS, tvOS, iOS

Improve resizing windows and scrolling past content on macOS
  Family.podspec
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Refactor the layout algorithm on macOS to be more accurate
  Family.podspec
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Remove checking collection view data source
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Fix tests
  Tests/macOS/FamilyScrollViewTests.swift
Due: none

Revert "Remove checking collection view data source"
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Fix comment
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Improve isScrollingByProxy
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Fix content offset bug on macOS
  Family.podspec
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Optimize layout algorithm with correct height
  Family.podspec
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Refactor validateScrollView on macOS
  Family.podspec
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Improve performBatchUpdates on macOS
  Family.podspec
  Sources/macOS/Classes/FamilyViewController.swift
Due: macOS

Fix rendering glitch on macOS when resizing a window
  Family.podspec
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Set content size to fix minor macOS updating bug
  Family.podspec
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Refactor layout algorithm
  Family.podspec
  Family.xcodeproj/project.pbxproj
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Remove using .enumerated()
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Refactor macOS tests
  Tests/macOS/FamilyScrollViewTests.swift
Due: none

Fix warnings
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Fix merged code that shouldn't be included
  Sources/macOS/Classes/FamilyViewController.swift
Due: macOS

Don't invoke layout related methods in deinit
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Improve project setup when using multiple os targets
  Family.podspec
  Family.xcodeproj/project.pbxproj
  Sources/iOS+tvOS/Classes/FamilyScrollView+iOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView+tvOS.swift
Due: tvOS, iOS

Improve iOS implementation
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView+iOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Tests/iOS/FamilyScrollViewTests.swift
Due: tvOS, iOS

Fix warnings
  Sources/iOS+tvOS/Classes/FamilyScrollView+iOS.swift
Due: tvOS, iOS

Remove isDirectionalLockEnabled = true
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Improve public API and space management
  Family.podspec
  Sources/Shared/FamilyFriendly.swift
  Sources/Shared/FamilyViewControllerAttributes.swift
  Sources/iOS+tvOS/Classes/FamilyDocumentView.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView+iOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView+tvOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
  Sources/macOS/Classes/FamilyViewController.swift
Due: macOS, tvOS, iOS

Add support for sprint animation updates
  Family.podspec
  README.md
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/iOS+tvOS/Extensions/CALayer+Extensions.swift
Due: tvOS, iOS

Adjust content inset in navigation controllers
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
Due: tvOS, iOS

Bug fixes and improvments
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
Due: tvOS, iOS

Remove faulty navigation bar fix
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
Due: tvOS, iOS

Improve public API and extend core functionality
  Family.podspec
  Family.xcodeproj/project.pbxproj
  Sources/Shared/BackgroundKind.swift
  Sources/Shared/FamilyFriendly.swift
  Sources/Shared/FamilySpaceManager.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView+iOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView+tvOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
  Sources/iOS+tvOS/Classes/FamilyWrapperView.swift
  Sources/iOS+tvOS/Extensions/UIViewController+Extensions.swift
  Sources/macOS/Classes/FamilyScrollView.swift
  Sources/macOS/Classes/FamilyViewController.swift
  Sources/macOS/Classes/FamilyWrapperView.swift
  Sources/macOS/Extensions/NSViewController+Extensions.swift
  Tests/Shared/FamilyViewControllerSharedTests.swift
  Tests/iOS/FamilyScrollViewTests.swift
  Tests/macOS/FamilyScrollViewTests.swift
  Tests/tvOS/FamilyScrollViewTests.swift
Due: macOS, tvOS, iOS

Update README
  README.md
Due: none

Update codecov.yml
  codecov.yml
Due: none

Fix layout bugs
  Sources/iOS+tvOS/Classes/FamilyScrollView+iOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView+tvOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
  Sources/iOS+tvOS/Classes/FamilyWrapperView.swift
  Sources/macOS/Classes/FamilyScrollView.swift
  Sources/macOS/Classes/FamilyViewController.swift
  Sources/macOS/Classes/FamilyWrapperView.swift
  Tests/Shared/FamilyViewControllerSharedTests.swift
Due: macOS, tvOS, iOS

Improve calculating content size
  Sources/iOS+tvOS/Classes/FamilyScrollView+iOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView+tvOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS, tvOS, iOS

Add proper cleanup of background views
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS, tvOS, iOS

Fix rendering issue with top padding not working
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView+iOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView+tvOS.swift
  Sources/macOS/Classes/FamilyScrollView.swift
  Tests/Shared/FamilyViewControllerSharedTests.swift
Due: macOS, tvOS, iOS

Improve `add` method on `FamilyViewController`
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
  Sources/macOS/Classes/FamilyViewController.swift
Due: macOS, tvOS, iOS

Optimize FamilyWrapper observer
  Sources/iOS+tvOS/Classes/FamilyWrapperView.swift
  Sources/macOS/Classes/FamilyWrapperView.swift
Due: macOS, tvOS, iOS

Fix rendering issues related to padding on macOS
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Bump version to 0.18.2
  Family.podspec
Due: none

Initial improvements to macOS implementation
  Sources/iOS+tvOS/Classes/FamilyScrollView+iOS.swift
  Sources/iOS+tvOS/Classes/FamilyScrollView+tvOS.swift
  Sources/macOS/Classes/FamilyClipView.swift
  Sources/macOS/Classes/FamilyDocumentView.swift
  Sources/macOS/Classes/FamilyScrollView.swift
  Sources/macOS/Classes/FamilyViewController.swift
  Sources/macOS/Classes/FamilyWrapperView.swift
Due: macOS, tvOS, iOS

Path conditions:
  macOS: any of: Sources/macOS, Sources/Shared, but not: Applications/Xcode.app/.*, bin, Example, Tests, Images, Info
  tvOS: any of: Sources/tvOS, Sources/iOS+tvOS, Sources/Shared, but not: Applications/Xcode.app/.*, bin, Example, Tests, Images, Info
  iOS: any of: Sources/iOS, Sources/iOS+tvOS, Sources/Shared, but not: Applications/Xcode.app/.*, bin, Example, Tests, Images, Info
