Repository zenangst/Family: changes, and which Codecov flags are due for each by the changed paths.
All: macOS, tvOS, iOS

codecov.yml:

ignore:
  - "Applications/Xcode.app/.*"
  - "bin"
  - "Example"
  - "Tests"
  - "Images"
  - "Info"

flags:
  macOS:
    paths:
      - Sources/macOS
      - Sources/Shared
  tvOS:
    paths:
      - Sources/tvOS
      - Sources/iOS+tvOS
      - Sources/Shared
  iOS:
    paths:
      - Sources/iOS
      - Sources/iOS+tvOS
      - Sources/Shared

Update codecov.yml
  codecov.yml
Due: none

Update README.md
  README.md
Due: none

Add tests for performing batch updates on macOS, iOS and tvOS
  Tests/iOS+tvOS/FamilyViewControllerTests.swift
  Tests/macOS/FamilyViewControllerTests.swift
Due: none

Fix issue with moving view controllers on macOS
  Sources/macOS/Classes/FamilyDocumentView.swift
Due: macOS

Add comment to clarify why we call removeFromSuperView
  Sources/macOS/Classes/FamilyDocumentView.swift
Due: macOS

Call purgeWrapperViews() when adding children in FamilyViewController
  Sources/macOS/Classes/FamilyScrollView.swift
  Sources/macOS/Classes/FamilyViewController.swift
Due: macOS

Sort Xcode project
  Family.xcodeproj/project.pbxproj
Due: none

Add testChangingViewSize
  Tests/macOS/FamilyViewControllerTests.swift
Due: none

Refactor FamilyWrapperView to avoid recursion
  Sources/iOS+tvOS/Classes/FamilyWrapperView.swift
  Sources/macOS/Classes/FamilyWrapperView.swift
  Tests/iOS+tvOS/FamilyViewControllerTests.swift
Due: macOS, tvOS, iOS

Add docs
  Sources/iOS+tvOS/Classes/FamilyWrapperView.swift
  Sources/macOS/Classes/FamilyWrapperView.swift
Due: macOS, tvOS, iOS

Bump version to 0.14.0
  Family.podspec
Due: none

Set correct width to wrapped views in FamilyScrollView
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
Due: tvOS, iOS

Remove implicitly setting isChildViewController to true in willMove(toParent)
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
  Tests/iOS+tvOS/FamilyViewControllerTests.swift
Due: tvOS, iOS

Opt-out from doing layout invocations when deallocating
  Family.podspec
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/iOS+tvOS/Classes/FamilyViewController.swift
  Sources/macOS/Classes/FamilyScrollView.swift
  Sources/macOS/Classes/FamilyViewController.swift
Due: macOS, tvOS, iOS

Migrate to Swift 5
  .swift-version
  .travis.yml
  Family.podspec
  Family.xcodeproj/project.pbxproj
  Family.xcodeproj/xcshareddata/xcschemes/Family-watchOS.xcscheme
  Sources/iOS+tvOS/Classes/FamilyScrollView.swift
  Sources/macOS/Classes/FamilyScrollView.swift
  circle.yml
Due: macOS, tvOS, iOS

Update .travis.yml
  .travis.yml
Due: none

Add layout fix for macOS
  Family.podspec
  Sources/macOS/Classes/FamilyViewController.swift
Due: macOS

Revert previous layout fix
  Sources/macOS/Classes/FamilyViewController.swift
Due: macOS

Add setWrapperFrameSize to FamilyWrapperView
  Sources/macOS/Classes/FamilyWrapperView.swift
Due: macOS

Bump version to 0.14.5
  Family.podspec
Due: none

Refactor core implementation to use a flat namespace
  Sources/macOS/Classes/FamilyDocumentView.swift
  Sources/macOS/Classes/FamilyScrollView.swift
  Sources/macOS/Classes/FamilyViewController.swift
  Sources/macOS/Classes/FamilyWrapperView.swift
Due: macOS

Refactor frame observer
  Sources/macOS/Classes/FamilyWrapperView.swift
Due: macOS

Fix tests on macOS
  Tests/macOS/FamilyContentViewTests.swift
  Tests/macOS/FamilyScrollViewTests.swift
  Tests/macOS/FamilyViewControllerTests.swift
Due: none

Fix rendering issues on macOS
  Family.podspec
  Sources/macOS/Classes/FamilyScrollView.swift
  Sources/macOS/Classes/FamilyWrapperView.swift
Due: macOS

Update FamilyClipView.swift
  Family.podspec
  Sources/macOS/Classes/FamilyClipView.swift
Due: macOS

Refactor FamilyWrapperView to be more streamlined
  Sources/macOS/Classes/FamilyClipView.swift
  Sources/macOS/Classes/FamilyScrollView.swift
  Sources/macOS/Classes/FamilyWrapperView.swift
Due: macOS

Update Family.podspec
  Family.podspec
Due: none

Fix broken tests
  Sources/macOS/Classes/FamilyScrollView.swift
  Tests/macOS/FamilyContentViewTests.swift
Due: macOS

Don't adjust y offset if point is 0
  Family.podspec
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Fix retain cycle in macOS implementation
  Family.podspec
  Sources/macOS/Classes/FamilyViewController.swift
Due: macOS

Fix faulty content size on FamilyScrollView
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Improve scrolling algorithm by handling regular views
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Floor new height
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Remove previous scroll optimization
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Bump version to 0.14.11
  Family.podspec
Due: none

Set proper width to document view
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Fix tests
  Sources/macOS/Classes/FamilyScrollView.swift
  Tests/macOS/FamilyScrollViewTests.swift
Due: macOS

Optimize computeContentSize()
  Sources/macOS/Classes/FamilyScrollView.swift
Due: macOS

Fix insets calculation
  Sources/macOS/Classes/FamilyScrollView.swift
  Tests/macOS/FamilyScrollViewTests.swift
Due: macOS
